.transaction-list {
    flex-direction: column;
    .monthly-list {
        margin-bottom: 10px;
        h1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
           .month {
                color: $clr4;
            }
            .month-summary{
                font-size: 14px;
                color: $clr3;
                padding-inline-start: 5px;
                display: flex;
                gap: 5px;
                :not(:last-child){
                    padding-inline-end: 5px;
                    border-inline-end: 1px $clr3 solid;
                }
            }
        }
    }
}
