.transaction-list{
    // align-items: center;
    // flex-wrap: wrap;
    // gap: 10px;
    flex-direction: column;
    // margin-bottom: 10px;
    // justify-content: center;
    .monthly-list{
        margin-bottom: 10px;
        h1{
            // font-weight: 600;
            color: $clr4;
        }

    }
}