// COLOR PALETTE
$clr1: #f2f3f8;
$clr2: #027fff;
$clr3: #969daf;
$clr4: #2b2c30;
$clr5: #f9fafc;
$clr6: hsl(33, 100%, 98%);

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
